@model Product
@{
	Layout = "~/Views/Shared/admin/_adminlayout.cshtml";
}
<div>
	<h1><i class="fa-solid fa-eye"></i> Product Details</h1>
	<h2>@Model.name</h2>
	<p><strong>Price:</strong> @Model.price</p>
	<p><strong>Quantity:</strong> @Model.quantity</p>
	<p><strong>Category:</strong> @Model.category.name</p>
	<p><strong>Sub-Category:</strong> @Model.sup_category.Name</p>
	<p><strong>Color:</strong> @Model.color</p>
	<p><strong>Size:</strong> @Model.size</p>
	<p><strong>userID:</strong> @Model.user_id</p>
	<p><strong>Description:</strong> @Model.description</p>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
	<div style="height:10px">
	</div>
	<div class="d-xxl-inline-flex flex-row align-items-center">
		<form method="post" onsubmit="return confirm('are you sure؟')" class="d-inline m-0">
			<button type="submit" class="btn btn-danger">
				<i class="fas fa-trash"></i> Delete
			</button>
		</form>
		<a class="btn btn-outline-secondary me-2" href="/admin/products">
			<i class="fas fa-undo-alt"></i> cancel
		</a>
	</div>
</div>
