@model Product
@{
	Layout = "~/Views/Shared/admin/_adminlayout.cshtml";
}
<div>
	<h1><i class="fa-solid fa-eye"></i> Product Details</h1>
	<h2>@Model.name</h2>
	<p><strong>Price:</strong> @Model.price</p>
	<p><strong>Quantity:</strong> @Model.quantity</p>
	<p><strong>Category:</strong> @Model.category.name</p>
	<p><strong>Sub-Category:</strong> @Model.sup_category.Name</p>
	<p><strong>Color:</strong> @Model.color</p>
	<p><strong>Size:</strong> @Model.size</p>
	<p><strong>userID:</strong> @Model.user_id</p>
	<p><strong>Description:</strong> @Model.description</p>
</div>

