@model User
@{
	Layout = "~/Views/Shared/admin/_adminlayout.cshtml";
}
<div>
	<h1><i class="fa-solid fa-eye"></i> User Details</h1>
	<h2>@Model.name</h2>
	<p><strong>Role:</strong> @Model.role</p>
	<p><strong>Email:</strong> @Model.email</p>
	<p><strong>Password:</strong> @Model.password</p>
	<p><strong>Phone:</strong> @Model.phone_number</p>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
	<div style="height:10px">
	</div>
	<div class="d-xxl-inline-flex flex-row align-items-center">
		<form method="post" onsubmit="return confirm('are you sure؟')" class="d-inline m-0">
			<button type="submit" class="btn btn-danger">
				<i class="fas fa-trash"></i> Delete
			</button>
		</form>
		<a class="btn btn-outline-secondary me-2" href="/admin/users">
			<i class="fas fa-undo-alt"></i> cancel
		</a>
	</div>
</div>
