@model User
@{
    Layout = "~/Views/Shared/admin/_adminlayout.cshtml";
}
<div>
	<h1><i class="fa-solid fa-eye"></i> User Details</h1>
	<h2>@Model.name</h2>
	<p><strong>role:</strong> @Model.role</p>
	<p><strong>Email:</strong> @Model.email</p>
	<p><strong>password:</strong> @Model.password</p>
	<p><strong>Phone:</strong> @Model.phone_number</p>
</div>